{% include "header.html" %}

<h2>Please complete payment:</h2>

<form style="margin: 0px; padding: 0px;" action="/items/thankyou" method="get">
    <input type="text" name="first_name" placeholder="First Name"/>
    <input type="text" name="last_name" placeholder="Last Name"/>
    <br><br>
    <input type="text" name="address" placeholder="Street Address"/>
    <br>
    <input type="text" name="city" placeholder="City"/>
    <br>
    <input type="text" name="state" placeholder="State"/>
    <br>
    <input type="text" name="zip" placeholder="Zip"/>
    <br>
    <br>
    <input type="text" name="name_on_card" placeholder="Name on Card"/>
    <input type="text" name="cc_number" placeholder="Credit Card Number"/><br>
    <input type="text" name="exp_month" placeholder="Exp Month"/>
    <input type="text" name="exp_year" placeholder="Exp Year"/>


    <br><br>
    <input type="submit" value="Pay" />
</form>